<div class="input-group mb-1 search-wrap">


    <div class="sk-circle search-loading-icon" *ngIf='loading===true'>
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>

    
    <div class="input-group-prepend">
        <div class="input-group-text px-3">
            <input type="checkbox" [checked]="searchAPIcheck" (change)="liveAPIchange(); searchAPIcheck = !searchAPIcheck" />
        </div>
    </div>

        <div [ngClass]='{"showMe":displayClickSearch && searchAPIcheck,"hideMe":!displayClickSearch || !searchAPIcheck}' 
        class="input-group-text p-1 pr-2 d-block d-sm-none  d-none d-sm-block d-md-none click-search">
            <button type="button" (click)="searchItems($event,searchtext,'click');" class="btn btn-sm btn-info opc">Search</button>
        </div>
 

    <input (keydown)="searchItems($event,search.value,'keydown');" (focusout)="searchItems($event,search.value,'focusout');"
        [(ngModel)]="searchtext" #search [placeholder]="placeHolder" class="form-control p-1 ml-3" aria-label="Search" type="text">

</div>
<p class="search-api-check mb-1 p-1 pl-2" [ngClass]="{'show-search-api-check':searchAPIcheck===true}">Search API!</p>