<div class='products-container'>

  <div class='product-row justify-content-md-center'>

  
  </div>

    <div *ngIf="DataLoaded===false" class='anim-f'>
      <div class="product-row justify-content-md-center mt-3 mb-4">
        <div class="spinner"></div>
      </div>
    </div>
    


  <div *ngIf="ErrorData"> 
    <div class="product-row justify-content-md-center mx-5 mt-5 mb-2 anim-f" role="alert">
      <div class="col-lg-6  col-md-6 col-sm-12">
        <div class='error-loading bg-info p-2'>
          <pre><code> {{ErrorData|json}}</code></pre>
        </div>
      </div>
    </div>  
      <div class="product-row justify-content-md-center mx-5 mt-3 mb-2 anim-f" role="alert">
          <div class="col-auto w-100 text-center">
            <button class="btn btn-info" (click)="starOver()">Start Again</button>
          </div>
      </div>
  </div>  
              

  <div *ngIf='DataLoaded===true' class="product-row justify-content-md-center mt-4 mb-2 anim-f">
    <div class="col-auto available_apis"  >                      
      <a  [routerLink]="['/products/paged',1]" (click)="clicked=i; filterTag(api);" [ngClass]='{"btn-info active": i==clicked || PAGE_DEFAULTS.apiName===api, "btn-outline-info":i!=clicked }' *ngFor="let api of available_apis; let i=index;"  class="m-1 btn-sm" >{{api}}</a>
    </div>
  </div>                                 

    <div *ngIf='DataLoaded===true && lastSearch' class="product-row justify-content-md-center mt-1 anim-f">
      <div class="col-auto w-100">
         <div class='last_search text-center'><small class="text-light bg-info px-2 py-1 mt-2"><span class="text-info">Last search:&nbsp;</span>{{lastSearch}}</small></div>
      </div>
    </div>
    



  <div class="product-row justify-content-md-center mt-4 mb-4 anim-f" *ngIf='DataLoaded===true && PAGE_DEFAULTS.apiName=="punkapi"'>
    <div [@makeLargerAnimation]='state'  indexchange (currinx)='getIndex($event)' [indexNow]="i" class="anim-f product-col-content product-wrap item-inx-{{i}} px-2"
      *ngFor="let item of punkapiData | search:'name' :searchModel; let i = index;">

      <div class="card bg-trans my-2  card w-100">
        <image  class="p-5" [src]='item.image_url' [alt]="item.tagline" [title]='item.description'></image> 


        <h6 class="card-header p-2 text-center">{{item.name}}</h6>
         <div class="card-body">
          <p class="card-text mb-1">{{descLimit(item.description)}}</p> 
          <p class="card-text mb-1 tags"><span class="text-info cf">tags:</span> {{item.tagline}}</p>

        </div>
         <div class="d-flex card-body px-1 justify-content-center pt-0">
         
        <button type="button" class="btn-sm btn btn-dark card-link px-4" (click)="goto(niceName(item.name));">View</button>
      </div>
      </div>
     
    </div>


  </div><!--product-row -->


  <div class="product-row justify-content-md-center mt-4 mb-4 anim-f" *ngIf='DataLoaded===true && PAGE_DEFAULTS.apiName=="flickr"'>
   
    <div [@makeLargerAnimation]='state'  indexchange (currinx)='getIndex($event)' [indexNow]="i" class="anim-f product-col-content product-wrap item-inx-{{i}} px-1"
      *ngFor="let item of flickrData | search:'title,tags,ownername' :searchModel; let i = index;">

      <div class="card bg-trans my-2  card w-100">
 
          <image class="p-2" [src]='item.url_s' [alt]="item.tags" [title]='item.title'></image> 
        <h6 class="card-header p-2 text-center" *ngIf='item.title'><span class="text-info cf">title:</span> {{descLimit(item.title,59)}}</h6>
         <div class="card-body">
           <h6 class="card-title"><span class="text-info cf">ownername:</span> {{item.ownername}}</h6>
           
            <p class="card-text mb-1"><span class="text-info cf">datetaken:</span> {{item.datetaken}}</p>
          <p class="card-text mb-1 tags"><span class="text-info cf">tags:</span> {{descLimit(mCommas(item.tags))}}</p>
 
        </div>
         <div class="d-flex card-body px-1 justify-content-center pt-0">
         <div class="btn-sm btn card-link px-2" (click)="loadLink(item.owner); clicked=i" 
         [ngClass]="{'btn-warning':item.flickerLink===undefined,'btn-success':item.flickerLink!==undefined}">
        
         <div class="spinner-loading" *ngIf='clicked==i && item.flickerLink===undefined'>
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

              <span  *ngIf='clicked!==i && item.flickerLink===undefined'>flickr</span>
              <a *ngIf='item.flickerLink!==undefined' href="{{item.flickerLink}}" class="text-white" target="_blank">flickr >></a>
            </div>
        <button  type="button" class="btn btn-sm btn-dark card-link px-4" (click)="goto(niceName(item.title|| item.ownername));">View</button>
      </div>
      </div>
     
    </div>

 
  </div><!--product-row -->

  
  <div class="product-row justify-content-md-center mt-4 mb-4 anim-f" *ngIf='DataLoaded===true && PAGE_DEFAULTS.apiName=="gettyimages"'>
   
    <div [@makeLargerAnimation]='state'  indexchange (currinx)='getIndex($event)' [indexNow]="i" class="anim-f product-col-content product-wrap item-inx-{{i}} px-1"
      *ngFor="let item of gettyimagesData | search:'title,caption,artist,keywords' :searchModel; let i = index;">

      <div class="card bg-trans my-2  card w-100"> 
        <div class="image-block" *ngIf='item.display_sizes'>
           <image class="p-2" *ngFor="let image of item.display_sizes | filterImage:'uri,name' :'comp';" 
                   [src]='image.uri' [alt]="item.caption" [title]='item.caption'></image> 
        </div>
 

        <h6 *ngIf="item.title" class="card-header p-2 text-center"><span class="text-info cf">title:</span> {{descLimit(item.title,59)}}</h6>
         <div class="card-body">
           <h6 class="card-title"><span class="text-info cf">artist:</span> {{item.artist}}</h6>
            <p class="card-text mb-1"><span class="text-info cf">collection_name:</span> {{item.collection_name}}</p>
            <div *ngIf='item.keywords'> 
                <span class="text-info cf">keywords: </span>
                <p class="card-text mb-1 keywords">{{descLimit(getKeywords(item.keywords))}}</p>          
            </div>
          

            <p class="card-text mb-1"><span class="text-info cf">date_created:</span> {{item.date_created}}</p>
            <p class="card-text mb-1"><span class="text-info cf">caption:</span> {{descLimit(item.caption)}}</p>
 
        </div>
         <div class="d-flex card-body px-1 justify-content-center pt-0">
        <button type="button" class="btn btn-sm btn-dark card-link px-4" (click)="goto(niceName(item.title||item.artist));">View</button>
      </div>


      </div>
     
    </div>


  </div><!--product-row -->
  
    
  <div class="product-row justify-content-md-center mt-4 mb-4 anim-f " *ngIf='DataLoaded===true && PAGE_DEFAULTS.apiName=="omdbapi" && !is_imdbID'>
   
    <div [@makeLargerAnimation]='state'  indexchange (currinx)='getIndex($event)' [indexNow]="i" class="anim-f product-col-content product-wrap  omdbapi-product item-inx-{{i}} px-1"
      *ngFor="let item of omdbapiData | search:'Title,imdbID' :searchModel; let i = index;">
    
      <div class="card bg-trans my-2  card w-100" 
       [ngClass]='{"product-updated":item.Director!==undefined}'> 

      <image  class="p-2" [src]='item.Poster' [alt]="item.Title" [title]='item.Title'></image> 

        <h6  class="card-header p-2 text-center"><span class="text-info cf">title:</span> {{item.Title}}</h6>
         <div class="card-body pb-2">

            <p class="card-text mb-1"><span class="text-info cf">Type:</span> {{item.Type}}</p>
            <p class="card-text mb-1"><span class="text-info cf">Year:</span> {{item.Year}}</p>
            <p class="card-text mb-1"><span class="text-info cf">imdbID:</span> 
              <span (click)="copyToclipb( 'imdbID-'+(i+1) );" id="imdbID-{{i+1}}">
                      <span [ngClass]='{"text-success":in_clipboard["imdbID-"+(i+1)]==true}'>
                        {{item.imdbID}}
                      </span>
              </span>      
            </p>

           
            <div class="card-text mb-1 mt-3  text-center">             
                 <div class="btn btn-sm btn-info card-link px-3" 
                      (click)="getimdbData(item.imdbID);getimdbClicked=i;">
                      <div class="spinner-loading" *ngIf='getimdbClicked==i && item.Director===undefined'>
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                      </div>
                      <span *ngIf='item.Director===undefined && getimdbClicked!==i'>Get imDB</span>
                    <a *ngIf='item.Director!==undefined' class="text-white" 
                      [routerLink]="['/product-item/omdbapi/imdb', item.imdbID]">View imDB</a>                
                
                </div><!--btn-->
            </div> 
 
        </div>
         <div class="d-flex card-body px-1 justify-content-center pt-0">
        <button *ngIf="item.Director===undefined && getimdbClicked!==i" type="button" class="btn btn-sm btn-dark card-link px-4" 
        (click)="goto(niceName(item.Title));">View</button>
      </div>
      </div> 
    </div>

  </div><!--product-row -->


  <div class="row justify-content-md-center mt-4 mb-4 anim-f" *ngIf='DataLoaded===true && PAGE_DEFAULTS.apiName=="omdbapi" && is_imdbID===true'>
   
    <div [@makeLargerAnimation]='state'  indexchange (currinx)='getIndex($event)' [indexNow]="i" class="anim-f col-md-6 col-lg-7 col-sm-12 product-imdbID product-wrap item-inx-{{i}} px-1"
      *ngFor="let item of omdbapiimdbIDData;  let i = index;">

      <div class="card bg-trans my-2  card w-100"> 

      <image  class="p-2 text-center" [src]='item.Poster' [alt]="item.Title" [title]='item.Title'></image> 

        <h6  class="card-header p-2 text-center"><span class="text-info cf">title:</span> {{item.Title}}</h6>
         <div class="card-body">

            <p class="card-text mb-1"><span class="text-info cf">Released:</span> {{item.Released}}</p>
            <p class="card-text mb-1"><span class="text-info cf">Runtime:</span> {{item.Runtime}}</p>
            <p class="card-text mb-1"><span class="text-info cf">Director:</span> {{item.Director}}</p>
            <p class="card-text mb-1"><span class="text-info cf">Production:</span> {{item.Production}}</p>
            <p class="card-text mb-1"><span class="text-info cf">Genre:</span> {{item.Genre}}</p>
            <p class="card-text mb-1"><span class="text-info cf">imdbID:</span> 
              <span (click)="copyToclipb( 'imdbID-'+(i+1) )" id="imdbID-{{i+1}}">
                <span [ngClass]='{"text-success":in_clipboard["imdbID-"+(i+1)]==true}'>{{item.imdbID}}</span>
              </span>
            </p> 
            <p class="card-text mb-1 "><span class="text-info cf">Writer:</span> {{descLimit(item.Writer)}}</p>    
        </div>
         <div class="d-flex card-body px-1 justify-content-center pt-0">
        <button type="button" class="btn btn-sm btn-dark card-link px-4" (click)="goto(item.imdbID,true);">View Full</button>
      </div>
      </div> 
    </div>

  </div><!--product-row -->






  <!-- row-->
</div>
<!-- product-container-->
<div class="cf"></div>

<div class="row justify-content-md-center mb-2 mt-3 pb-3" *ngIf="DataLoaded!==false">
  <div class="col-12">
    <nav class="">

      <ul class="pagination justify-content-md-center m-3">

        <li *ngIf='PAGE_DEFAULTS.currentPaged===1' class="page-item disabled previous-link">
          <a (click)='gotoPaged(PAGE_DEFAULTS.currentPaged)' class="page-link " [routerLink]="['/products/paged', PAGE_DEFAULTS.currentPaged]">Previous</a>
        </li>

        <li *ngIf='PAGE_DEFAULTS.currentPaged>1' class="page-item previous-link">
          <a (click)='gotoPaged(PAGE_DEFAULTS.currentPaged-1)' class="page-link " [routerLink]="['/products/paged', PAGE_DEFAULTS.currentPaged-1]">Previous</a>
        </li>
       
        <li *ngFor='let paged of PAGE_DEFAULTS.paged | PipeNumber; let inx = index;' class="page-item d-none d-sm-block d-sm-none d-md-block" [ngClass]="{'current-paged active':PAGE_DEFAULTS.currentPaged==paged}">
          <a (click)='gotoPaged(paged)' class="page-link btn-primary" 
          [routerLink]="['/products/paged', paged]">
            {{paged}}<span class="sr-only">(current)</span></a>
        </li>

        <li *ngIf='PAGE_DEFAULTS.paged===PAGE_DEFAULTS.currentPaged' class="page-item disabled next-link">
          <a (click)='gotoPaged(PAGE_DEFAULTS.currentPaged)' class="page-link" [routerLink]="['/products/paged', PAGE_DEFAULTS.paged]">Next</a>
        </li>

        <li *ngIf='(PAGE_DEFAULTS.currentPaged>=1) && (PAGE_DEFAULTS.currentPaged<PAGE_DEFAULTS.paged)'  class="page-item next-link">
          <a (click)='gotoPaged(PAGE_DEFAULTS.currentPaged + 1)' class="page-link " [routerLink]="['/products/paged', PAGE_DEFAULTS.currentPaged + 1]">Next</a>
        </li>

      </ul>

    </nav>

  </div>
</div>
