<p>
  welcome works!
  <a [routerLink]="['/products', 1]">goto product 1</a>
</p>


<div class="row justify-content-md-center my-5">
  <div class="col-2 col-md-2 col-sm-6" *ngFor="let count of [0,1,2,3,4];">
    count> {{count}}
    <div class="card" class="w-100 my-2">
      <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
      <div class="card-body px-1">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="d-flex card-body px-1 justify-content-cente">
    <button type="button" class="btn btn-dark card-link px-5" (click)="goto(count)">Dark</button>
  
      </div>
    </div>

  </div>

</div>

