<div class='item-container'>

  <div class='row justify-content-md-center'>
    <page-title [title]="PAGE_DEFAULTS.pageTitle" [display]='6' class="m-3"></page-title>
  </div>

  <div class="row justify-content-md-center my-3">
    <div class="col-md-3 col-lg-4 col-sm-10">
      <img class="card-img-top p-3 product-img" 
      [src]='productData.image_url' 
      [alt]="productData.tagline" 
      [title]='productData.description'>
    </div><!--col-->


    <div class="col-md-7 col-lg-6 col-sm-10">

      <div class="card w-100 product-card">
        <div class="card-header p-2">
         <h4> {{productdataPairs[1][0]}} | {{productdataPairs[1][1]}}</h4>
        </div>
        <ul class="list-group list-group-flush;">
          <li  class="list-group-item" *ngFor="let pair of productdataPairs | slice:1">{{pair[0]}} | {{pair[1]}}</li>
        </ul>
      </div>

    </div><!--col-->
  </div><!--row-->
</div>