<div class='item-container mb-4 mt-4'>

  <div *ngIf="productdataPairs===false && productdataPairs!==null" class='anim-f'>
    <div class="row justify-content-md-center m-5">
      <div class="spinner"></div>
    </div>
  </div> 



  <div *ngIf="productdataPairs===null">
    <div class="product-row justify-content-md-center m-5 anim-f" role="alert">
      <div class="col-lg-6  col-md-6 col-sm-12">
        <div class='error-loading bg-info p-2 text-center'>
          hhmm.. no data loaded!
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="productdataPairs!==false" class='anim-f '>

    <div class="row justify-content-md-center mt-2 mb-3">
      <div class="col-md-5 col-lg-4 col-sm-10 text-center">
        <img class="card-img-top p-2 product-img mb-4 image-from-{{PAGE_DEFAULTS.apiName}}" [src]='productData.image_url' [alt]="productData.tagline" [title]='productData.description'>
      </div>
      <!--col-->


      <div class="col-md-7 col-lg-6 col-sm-10">

        <div class="card w-100 product-card">
          <div class="card-header p-0">
            <h5 class="p-0"><span class="bg-info  float-left p-3">{{productdataPairs[1][0]}}</span>  
              <span class="m-3 float-left"> {{productdataPairs[1][1]|json}}</span></h5>
          </div>
          <ul class="list-group list-group-flush;">
             <li class="list-group-item p-0" ><span class="bg-info  float-left p-2">{{productdataPairs[0][0]}} </span> <span class="m-2 float-left">{{productdataPairs[0][1]}}</span></li>
            <li class="list-group-item p-0 anim-f " *ngFor="let pair of productdataPairs | slice:1"><span class="bg-info float-left p-2">{{pair[0]}}</span> <span class="m-2 float-left">{{pair[1]|json}}</span></li>
          </ul>
        </div>

      </div>
      <!--col-->
    </div>
    <!--row-->

  </div>

  <div class='row justify-content-md-center mt-2'>
    <div class="col-md-3 col-lg-4 col-sm-10">&nbsp;</div>
    <div class="col-md-7 col-lg-6 col-sm-10">
      <a class="btn btn-info py-2 px-4 navigate-back" [routerLink]="['/products']">Back</a>
    </div>

  </div>

  <!--ngIf-->


</div>