
/// bootstrap variable presets
// https://getbootstrap.com/
$primary:yellow !default;
/////////////////////////

// compass variable presets
// http://compass-style.org/reference/compass/
$contrasted-dark-default: #333333;
$contrasted-light-default: #e7e7e7;

