/// only add global presets here

body{
    background:  $body-bg;//rgba(  0,167, 82,.1);
  background-color:$body-bg;//rgba(  0,167, 82,.1);
}

.tc{
    text-align: center;
    line-height: 1.3rem;
}

p.small{
   // font-size: smaller;
}

.bg-trans{
   background-color:rgba(255,255,255,0.4); 
}

.clf, .cf{
    @include clearfix;
    @include  pie-clearfix;
}

/// general animations on hover
a,button, .btn{
    &:hover{
         -webkit-transition: 0.2s ease-in-out!important;
         transition: 0.2s ease-in-out!important;
    }
}


.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
}
.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
}

 .text-danger{
    &.error-loading{
        font-size: 1.5rem;
        font-weight: 500;
    }
 }

 .hideMe{
     opacity: 0;
 }
.showMe{
    opacity: 1;
}

.anim-f{
         -webkit-transition: 0.1s linear all!important;
         transition: 0.1s linear all!important;
}

.anim-s{
         -webkit-transition: 0.5s linear all!important;
         transition: 0.5s linear all!important;
}