/*
 responsive only declaration here!
*/
  @media (max-width: 575.98px) {
      product-item {
          a.navigate-back {
              font-size: larger !important;
          }
          page-title.text-center {
              margin-bottom: 0 !important;
          }
          img.product-img {
              max-width: 150px !important;
          }
      }
      .pagination {
          max-width: 50% !important;
          margin: 0 auto !important;
          .page-item {
              a {
                  text-align: center !important;
              }
              &.previous-link {
                  min-width: 100px !important;
              }
              &.next-link {
                  min-width: 100px !important;
              }
          }
      }
  }