/*
 responsive only declaration here!
*/
  @media (max-width: 575.98px) {

    html search-input .sk-circle.search-loading-icon{
        right:76px !important;
    }

      product-item {
          a.navigate-back {
              font-size: larger !important;
          }
          page-title.text-center {
              margin-bottom: 0 !important;
          }
          img.product-img {
              max-width: 200px !important;
          }
      }
      .pagination {
          max-width: 50% !important;
          margin: 0 auto !important;
          .page-item {
              a {
                  text-align: center !important;
              }
              &.previous-link {
                  min-width: 60px !important;
              }
              &.next-link {
                  min-width: 60px !important;
              }
          }
      }
  }