    @import '_imports';
    body {}

    p {
        // @include contrasted(#5f1210);
    }
    app-root{
        display: block;

        &.flickrBG{
            background-color: $flickrBG!important;
        -webkit-transition: 0.2s ease-in-out!important;
         transition: 0.2s ease-in-out!important;
        }
        &.punkapiBG{
            background-color: $punkapiBG!important;
        -webkit-transition: 0.2s ease-in-out!important;
         transition: 0.2s ease-in-out!important;
        }
        
        &.gettyimagesBG{
        background-color: $gettyimagesBG!important;
        -webkit-transition: 0.2s ease-in-out!important;
         transition: 0.2s ease-in-out!important;
        }
         
       //-webkit-transition: 0.5s linear all !important;
       // transition: 0.5s linear all !important;
        /*
        change color and animate on api change, nice!
        $flickrBG:  #AFF9D3; //175, 249, 211
        $punkapiBG: #FFFFB9; // 255, 243, 185
        $gettyimagesBG: #FFCBDB; // rgb 255, 203, 219

        */

    }
    home {}

    product-item {
        display:block;// set as block element
        .item-container {
            img.product-img{
                max-width: 70%;
                &.image-from-flickrm, &.image-from-gettyimages{
                    max-width: 100%!important;
                }
            }
            .product-card {
                    
                .list-group-item{
                    span{
                        word-break: break-word;
                    }
                }

            }
        }
    }

    products {
        image{
            display: block;
            .img-preloader{
                margin-top: 20px!important;
                margin-bottom: 20px!important;
            }
        }

        .available_apis{
            button{
                 color: $body-color;
                &.active{
                    color: #fff!important;
                }
                cursor: pointer!important;
               
            }
        }

        display:block;// set as block element
        /// make custom column layout for the products page
        .products-container {
            width: 800px;
            @include make-container();
        }
        .product-row {
            @include make-row();
        }
        .product-col-content {
             


            @include make-col-ready();
            @include media-breakpoint-up(xs) {
                @include make-col(6);
            }
            @include media-breakpoint-up(sm) {
                @include make-col(5);
            }
            @include media-breakpoint-up(md) {
                @include make-col(3);
            }
            @include media-breakpoint-up(lg) {
                @include make-col(2.2);
            }
        }
        .product-wrap {
            .card {
                img {
                    height: 100%;
                    min-height: 100px;
                }
            }
        }
        .pagination {
            //li.current-paged, .active{}
        }
        .badSearch-message {
            font-size: smaller;
        }
    }

    product-item {}

    // root of all above classes, can be used to overight classes
    app-root {
        .t-strong {
            font-weight: 800;
        }
        .t-light {
            font-weight: 100;
        }
        nav {
            a.navbar-brand {
                font-size: 1.8rem;
            }
        }
    }

    search-input {
        @include border-radius(5px);
        background-color: rgba( 255, 255, 255, .1);
        .search-wrap {
            input.form-control {
                &[placeholder] {
                    color: rgba(255, 255, 255, .3) !important
                }
                color:#fff !important;
                background-color: rgba(255, 255, 255, .3);
            }
        }
        p.search-api-check {
            font-size: 0.7rem;
            color: #fff;
            letter-spacing: 1px;
            opacity: 0.3;
            &.show-search-api-check {
                opacity: 1 !important;
            }
            -webkit-transition: 0.5s linear all !important;
            transition: 0.5s linear all !important;
        }
    }

    footer {
        border-top: 1px solid rgba( 69, 84, 77, 0.2);
    }

    @include sticky-footer(72px, "#wrap", "#wrap_footer", "#footer");


    //// nothing goes here below
  /////////////////////////////////////
  @import 'responsive';
  /////////////////////
  /// 